# Node
node_modules/
.npm/
.pnpm-store/
.yarn/
.next/
.out/
dist/
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Strapi
cms/.cache/
cms/build/
cms/public/uploads/
cms/config/*.js
cms/src/admin/*.js

# Editor
.DS_Store
.idea/
.vscode/
